In [5]:
from sklearn.datasets import load_wine
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import pandas as pd

#Load the wine dataset
wine = load_wine()
#View the cancer data keys
wine.keys()

#it is a key of dictionary wine
wine.target_names
##Convert data and target into a data frame.
#Extract the First 100 Features
X = pd.DataFrame(data = wine.data[:100+(183%50),:], columns = wine.feature_names)
X.head(100) #Inspect the features
#Target
y = pd.DataFrame(data=wine.target[:100+(183%50)], columns = ['WineType'])
y.head(100)
y = y.values.ravel()
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Perceptron classifier
mdlPercept = Perceptron()
# Train the classifier
mdlPercept.fit(X_train, y_train)
# Make predictions on the test set
y_pred = mdlPercept.predict(X_test)
# Calculate accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
#Generate the Confusion Matrix
print('Perceptron Confusion Matrix:\n',confusion_matrix(y_test, y_pred));

Accuracy: 0.7777777777777778
Perceptron Confusion Matrix:
 [[10  6]
 [ 0 11]]

In [2]:
X = pd.DataFrame(data = wine.data[:100+(183%50),:], columns = wine.feature_names)
X.head(100+(183%50))

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,12.37,1.63,2.30,24.5,88.0,2.22,2.45,0.40,1.90,2.12,0.89,2.78,342.0
129,12.04,4.30,2.38,22.0,80.0,2.10,1.75,0.42,1.35,2.60,0.79,2.57,580.0
130,12.86,1.35,2.32,18.0,122.0,1.51,1.25,0.21,0.94,4.10,0.76,1.29,630.0
131,12.88,2.99,2.40,20.0,104.0,1.30,1.22,0.24,0.83,5.40,0.74,1.42,530.0
132,12.81,2.31,2.40,24.0,98.0,1.15,1.09,0.27,0.83,5.70,0.66,1.36,560.0

In [4]:
y = pd.DataFrame(data=wine.target[:100+(183%50)], columns = ['WineType'])
y.head(100+(183%50))

     WineType
0           0
1           0
2           0
3           0
4           0
..        ...
128         1
129         1
130         2
131         2
132         2

[133 rows x 1 columns]